<h3>
Thank you for signing up with Ring of Reciprocity.
</h3>
<p>
An email will be sent to you with steps on how to proceed when your account has been reviewed and approved by our administrators
</p>
