<div class="text-center d-flex row bg-white rounded py-5 m-auto" style="max-width: 600px;">
  <div>
  <h2>Sign up with RoR today!</h2>
  <h3>I am registering as a...</h3>

  <div class="row px-5 justify-content-between mt-5">
      <div class="col chooseregistercard mx-4">
        <a href="/register/user" class="text-white text-decoration-none">
    <div class="flex flex-column pt-4 pb-3 text-white text-decoration-none">
      <i class="fas fa-user fa-2x"></i>
      <h5 class="pt-3">
        User
      </h5>
      </div>
        </a>
    </div>
      <div class="col chooseregistercard mx-4">
        <a href="/register/corporate" class="text-white text-decoration-none">
    <div class="flex flex-column pt-4 pb-3 ">
      <i class="fas fa-building fa-2x"></i>
      <h5 class="pt-3">
        Corporate
      </h5>
      </div>
        </a>
    </div>
      <div class="col chooseregistercard mx-4">
        <a href="/register/charity" class="text-white text-decoration-none">
    <div class="flex flex-column pt-4 pb-3 ">
      <i class="fas fa-hands-helping fa-2x"></i>
      <h5 class="pt-3">
        Charity
      </h5>
      </div>
        </a>
    </div>
    <div class="text-center pt-5">
      Already have an account? <span class="text-primary "> <a class="text-decoration-none" href="/login"> Log in here. </a></span>
  </div>
  </div>
  </div>


</div>
