<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application.css"%>
  </head>

<div class="signup-container">
  <div class="d-flex justify-content-center">
    <%= image_tag 'icon_v1.png', width:'20%', alt: 'Logo', class: 'rounded-circle d-inline-block align-text-top'%>
  </div>
  <h3>
  Thank you for signing up with Ring of Reciprocity.
  </h3>
  <p>
  An email will be sent to you with steps on how to proceed when your account has been reviewed and approved by our administrators
  </p>
</div>
</html>
