<div>
  <table>
    <thead></thead>
    <tbody> 
      <% @allemplyees.each do |employee| %>
        <td>
          <%= employee.name %>
        </td>
        <td>
          <%= employee.name %>
        </td>

      <% end %>
    </tbody>
  </table>
</div>
