<p>Dear <%= @charity.users.first.name %>,</p>

<p>We are pleased to inform you that your charity, <%= @charity.charity_name %>, has been approved.</p>

<p>Your approval code is: <%= @code %></p>

<p>Thank you for your cooperation.</p>

<p>Best regards,<br>
The Team</p>
