<div class="empty-state-container">
  <%= image_tag 'chat_bubbles.png', alt: 'Chat', class: 'empty-state-image' %>
  <p class="empty-state-message">Reciprocity begins here. Reach out to a person in need, or have someone reach out to you!</p>
</div>