<div class="empty-state-container">
  <%= image_tag 'tumbleweed_transparent.png', alt: 'Tumbleweed', class: 'empty-state-image' %>
  <p class="empty-state-message">Empty, clean as it can be~</p>
</div>