<div class="empty-state-container">
  <%= image_tag 'confused.png', alt: 'confused_man', class: 'empty-state-image' %>
  <p class="empty-state-message">There seems to be nothing here at the moment.</p>
</div>