<div class="empty-state-container">
  <%= image_tag 'confused.png', alt: 'confused_man', class: 'empty-state-image' %>
  <p class="empty-state-message">Unfortunately, we are unable to find any requests that match your description</p>
</div>