<div class="container-fluid chat-container d-flex p-0">
  <%= render 'sidebar' %>
  <div class="main-chat col-9 p-0" id="main-chat">
    <div id="chat-content">
      <div class="p-4">
        <p>Select a chat to view the conversation</p>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'chats' %>
