<div class="container content_requests_index">
  <div class="container-fluid chat-container d-flex p-0">
    <%= render 'sidebar' %>
    <div class="main-chat col-9 p-0" id="main-chat">
      <div id="chat-content">
        <div class="p-4">
          <%= render 'shared/empty_chat' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'chats' %>

