
default: &default
  adapter: postgis
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  username: postgres
  password: PASSWORD_ENTERED_DURING_INSTALL
  timeout: 5000
  schema_search_path: public

development:
  <<: *default
  database: dev

test:
  <<: *default
  database: test
  host: localhost

production:
  <<: *default

  username: CLOUD_SQL_USER 
  password: CLOUD_SQL_PASSWORD
  host: CLOUD_SQL_HOST_IP

  database: production
