
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


h1{
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a.active {
  font-weight: bold;
  color: #0056b3;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #ad88c6;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #ad88c6;
  padding: 10px 20px;
  border-radius: 5px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clickable-row:hover {
  background-color: #f8f9fa;
}

.container-fluid{
  padding: 0px;
  overflow-x: hidden;
}

.col-3, .col-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-warning:hover, .btn-success:hover {
  opacity: 0.8;
}

.charities-tab-content {
  /* Set a fixed or minimum height */
  height: 58vh; /* Adjust this value to your preference */
  overflow-y: auto; /* Add this to enable scrolling if the content exceeds the container height */
  margin-top: -16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  border-radius: 5px; /* Optional: Add rounded corners */
}

.charities-tab-pane {
  height: 100%; /* Ensure the tab pane fills the container */
  overflow-y: auto; /* Enable scrolling for tab content */
  padding: 0px; /* Adjust padding for tab content spacing */
}

.charity-card {
  height: 250px; /* Adjust as needed */
}

.charity-details {
  border-left: 4px solid #007bff;
  height: 250px;
}

.charity-name {
  position: absolute;
  bottom: 15px;
  right: 25px;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.text-info {
  font-weight: 500;
}

.badge {
  font-size: 0.9em;
}

.charity-document iframe {
  border: none;
}