/* body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
} */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}


h1{
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a.active {
  font-weight: bold;
  color: #0056b3;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: #ad88c6;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #ad88c6;
  padding: 10px 20px;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table tr:hover {
  background-color: rgba(173, 136, 198, 0.1); /* Light purple overlay */
  cursor: pointer;
}


.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-warning {
  background-color: #ffc107;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-warning:hover, .btn-success:hover {
  opacity: 0.8;
}
