.nav-tabs .nav-link.active {
  background-color: #9b59b6; /* Purple color */
  color: white;
}

.nav-tabs .nav-link {
  color: #9b59b6;
}

.nav-tabs .nav-link:hover {
  background-color: #d9b3ff;
  color: white;
}