.employees-index{
    margin-top: 5%;
    background: linear-gradient(16deg, #ffefff, #fff);
}

.employees-index td, .employees-index th{
    background: transparent;
}

.employees-index tbody tr:hover{
    background: linear-gradient(90deg, transparent, #AD88C6, transparent)
}

.cvm-index, .cvm-manage_charities {
    margin-top: 5%;
    height: calc(100vh - 0px);
    background: linear-gradient(16deg, #ffefff, #fff);
    overflow: hidden;
}

#cvmdashboard{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    overflow:hidden;
}

.text-geb-blue{
    color: #656DAD;
}

#dashboardcontent, #topemployees, #topemployees .dashboardcard, #charitylist > a{
    flex-grow: 1;
    min-height: 100px;
}

#topemployeenames {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 505px);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

#reportlabel{
    font-size: 12px;
}

#downloadreport{
    font-size: 14px;
    box-shadow: none;
    border: solid 2px transparent;
    transition: background 0.3s;
}

#downloadreport:hover{
    background: #656DAD !important;
}

#copycompanycode, #downloadreport{
    z-index: 999;
    border-radius: 0 10px 10px 0;
    background: #AD88C6;
}

#reportdate{
    border: none !important;
    box-shadow: none !important;
    outline: none;
}

#charitynames{
    overflow-y: auto;
    height: calc(100vh - 350px);
}

.dashboardcard{
    border-radius: 10px;
    border: solid 1px rgba(66, 66, 66, 0.3);
    padding: 20px;
}


.dashboardcard.stats{
    box-shadow: 1px 1px 2px rgba(66, 66, 66, 0.3);
}

.dashboardcard.stats h6{
    color: #656DAD;
    font-weight: bold;
}

.dashboardcard.stats, #charitylist > a{
    transition: background 0.3s;
}

.dashboardcard.stats:hover, #charitylist > a:hover{
    background: #efdfef;
}

.dashboardcard .text-secondary{
    font-size: 12px;
}

.dashboardcard > i.fa-calendar{
    color: #505050
}

.dashboardcard > .list-group{
    height: calc(100vh - 340px);
    overflow-y: scroll;
}

.dashboardcard .list-group-item{
    cursor: pointer;
    background: transparent;
    transition: all 0.3s;
}

.dashboardcard .list-group-item:hover{
    background: linear-gradient(90deg, #AD88C6, transparent);
}

#copycompanycode:hover{
    background:#656DAD !important
}

#refreshcode{
    display: inline-block; 
    transition: transform 0.3s ease-in-out;
}

#refreshcode:hover{
    transform: rotate(180deg);
}

#savecharities{
    background: #AD88C6;
    border:0;
    padding: 10px 25px;
}
