<!DOCTYPE html>
<html lang="en">
<body data-controller="my-requests">
  <div class="container content_requests_index">
    <div class="card custom-card_requests_index">
      <div class="card-body header-container_requests_index">
        <h2 class="header-text_requests_index">My Requests</h2>
        <h5 class="subheader-text_requests_index">Check on your own requests and accept help from applicants!</h5>
      </div>
    </div>
    <!-- Search Bar Container -->
    <div class="search-container_requests_index">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <form class="search-form_requests_index">
              <input type="text" class="search-input_requests_index_my form-control" id="searchInput" placeholder="Search my requests...">
              <button type="submit" class="btn search-btn_requests_index"><i class="fas fa-search"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs mb-3" id="myRequestsTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="in-progress-tab" data-bs-toggle="tab" data-bs-target="#in-progress" type="button" role="tab" aria-controls="in-progress" aria-selected="true">In Progress</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab" aria-controls="completed" aria-selected="false">Completed</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="unfulfilled-tab" data-bs-toggle="tab" data-bs-target="#unfulfilled" type="button" role="tab" aria-controls="unfulfilled" aria-selected="false">Unfulfilled</button>
      </li>
    </ul>
    <!-- Container for Request Cards -->
    <div class="tab-content" id="myRequestsTabContent">
      <div class="tab-pane fade show active" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab">
        <%= render partial: 'request_cards', locals: { requests: @in_progress_requests } %>
      </div>
      <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <%= render partial: 'request_cards', locals: { requests: @completed_requests } %>
      </div>
      <div class="tab-pane fade" id="unfulfilled" role="tabpanel" aria-labelledby="unfulfilled-tab">
        <%= render partial: 'request_cards', locals: { requests: @unfulfilled_requests } %>
      </div>
    </div>
  </div>
</body>
<%= javascript_include_tag 'myrequests' %>
</html>

